.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.7rem auto;
  width: 90%;
}

.input,
.select {
  flex: 1 1 30%;
  border: 1px solid gray;
  padding: 0.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.textarea {
  flex: 1 1 100%;
  padding: 0.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: 0;
}